---
Checks:          'modernize-*,performance-*,readability-*,clang-abalyzer-*,bugprone-*,cppcoreguidelines-*,misc-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
...

